###################################################
###################################################
###							                    ###
###		   Plugin feito pela zPluginS   	    ###
###            zReport versão: 1.0.6            ###
###		      Integrado com o discord      		###
###		Continua em fase de desenvolvimento	    ###
###												###
###################################################
###################################################

# Insira sua licença aqui
license: 'XXXX-XXXX-XXXX-XXXX'

bot:
  enabled: false # Diz se o bot irá ser ligado quando o servidor inicializar
  chat-id: 'ID do chat' #ID do canal que o bot irá usar para notificar as punições
  status: 'zReport | Feito pela zPluginS' # Status que aparecerá no bot quando ele for ligado
  token: 'Token' #Token do bot (https://discord.com/developers/applications)

report:
  server: 'Lobby' # Caso esteja usando o zReport em um spigot, digite o servidor aqui
  timeout: 3 # O tempo-limite que um report leva para expirar em minuto(s)
  punicao-preventiva: # Sistema de punição preventiva
    enable: false
    limite: 10 # Ao chegar no limite de punições, o jogador levará um auto-ban temporário (Requer zPunish)
    tempo: '20 m' # (s) [Segundo] (m) [Minuto] (d) [Dia]
    motivo: 'Punição Preventiva'
  motivos: # Lista de motivos que irão aparecer para o usuário quando estiver efetuando uma denúncia.
    - 'Uso de Hack'
    - 'Abuso de Bugs'
    - 'Divulgação de IPs'
    - 'Ofensa a Staff'

mensagem-discord: # As mensagens que aparecerão no discord em uma seção separada
  embed:
    report:
      title: 'Novo Report'
        thumbnail: 'https://minotar.net/avatar/%apelido/100.png'
        footer-image: 'https://cdn.discordapp.com/icons/832601856403701771/94a08bab250ed87791c68bec4e7a4013.png'
        footer: 'zPluginS © Todos os direitos reservados.'
        builder:
          1:
            name: 'Apelido'
            value: '%apelido'
            inline: true
          2:
            name: 'Autor'
            value: '%autor'
            inline: true
          3:
            name: 'Motivo'
            value: '%motivo'
            inline: true
          4:
            name: 'Prova'
            value: '%prova'
            inline: false
          5:
            name: 'Servidor'
            value: '%server'
            inline: false
          6:
            name: 'Data'
            value: '%data'
            inline: false

mensagem-server:
  denuncia-prova-mensagem: # Mensagem de provas que aparecerá para o jogador que está efetuando a denúncia
    - ''
    - '&aInsira a o link das suas provas da denúncia.'
    - '&7Digite &nnenhuma&7 para não colocar provas.'
  alerta: # Mensagem de report que irá aparecer para os staff's presentes no servidor.
    - ''
    - '  &c&lREPORT'
    - '  &c%apelido &ffoi reportado por &c%autor'
    - '  &fMotivo: &c%motivo'
    - '  &fProva: &c%prova'
    - '  &fVezes: &c%vezes'
    - ''